body {
  background-color: white;
  color: black;
  font-family: Verdana;
  display: flex;
  position: fixed;
  text-rendering: optimizeLegibility;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#main {
  max-width: 100%;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  font-size: 1.1rem;
  line-height: 1.5;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-align: center;
}

h3 {
  line-height: 1.25;
  font-size: 0.8rem;
}

.text-small {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

img {
  max-width: 100%;
  height: auto;
  padding: 0.2rem;
}

.genham {
  width: 6rem;
  height: 6rem;
}

@media (min-width: 720px ) {
  #main {
    width: 600px;
    font-size: 1.3rem;
  }

  h3 {
    text-align: center;
  }
}

@media (min-width: 960px){
  #main {
    width: 800px;
  }
}

.world-of {
  font-family: 'Sacramento', cursive;
}

/* .nav { */
/*   display: flex; */
/*   overflow: hidden; */
/*   justify-content: space-between; */
/*   align-items: center; */
/*   padding: 1rem 2rem; */
/*   margin-left: auto; */
/*   margin-right: auto; */
/*   position: fixed; */
/*   bottom: 0; */
/* } */

/* .nav { */
/*     overflow: hidden; */
/*     display: flex; */
/*     margin-left: auto; */
/*     margin-right: auto; */
/*     position: fixed; */
/*     top: 0; */
/*     padding: 1rem 2rem; */
/*     align-items: center; */
/* } */

.nav {
  padding: 0.5rem;
  min-height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.nav #navlinks {
    justify-content: space-between;
}

.nav a {
  float: left;
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.2em;
  display: block;
}

.nav a.icon {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}

.nav a:hover {
  background-color: #7469B6;
  color: #FFE6E6;
  font-weight: bold;
}

/* .nav .active { */
/*   background-color: black; */
/*   color: white; */
/* } */
/**/
/* .nav .active:hover { */
/*     background-color: white; */
/*     color: black; */
/* } */

@media only screen and (min-width: 769px) {
  .nav #navlinks {
    display: block;
  }
}


@media only screen and (max-width: 768px) {
  .nav {
    display: flex;
    padding: 2rem 2rem;
    right: 0;
  }

  .nav #navlinks {
      display: none;
  }


  .nav a.icon {
      display: block;
  }
}
